*{margin: 0}
body{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    height: 100vh;
    width:90.138vw;
    flex-direction: column;

}
.head{
    line-height: 11.111vw;
    font-size: 4.86111vw;
    color: #fff;
    background-color: #68cdd5;
    /*display: flex;*/
    /*justify-content: flex-start;*/
    /*align-items: center;*/
    text-align: center;
}
.back{
    /*flex: none;*/
    float: left;
    padding:2.7777vw;
    height: 11.111vw;
    font-size: 4.16666vw;
}
.main{
    flex: 1;
    background-color: #fff;
    overflow: auto;
}
.foot{
    display: flex;
    background-color:rgba(104,205,213,0.4);
    justify-content: center;
    margin-bottom:5.5555vw;
}
.person-info{
    height: 45.55555vw;
    display: flex;
    /*align-items: baseline;*/
    background-image: url(personal-background.jpg);
    background-size:cover ;
}
.photo {

    margin: 10.55555vw 0 0 4.1666666vw;
    background-image: url(photo.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 23.4722222vw;
}
.name{
    margin: 16.111111vw 0 0 5.5555555vw;
    font-size: 4vw;
}

.info{
    display: flex;
    flex-direction: column;
    /*padding-left: 30px;*/
    font-size: 6.25vw;
}
.info>div{
    display: flex;
    align-items: center;
    padding:6.944444vw 0;
    border-bottom: 1px solid #9e9e9e;
}

.l{
    font-size: 5.5555vw;
    color: #ddd;
}




button{
    background-color: rgba(1,1,1,0);
    border: none;
    font-size: 2.7777vw;
    color: #fff;
}
.foot>button{
    background-color: #68cdd5;
    color: #fff;
    border-radius: 10px;
    flex:none;
    width:43.055vw;
    height: 12.2222vw;
    margin: 0 1.73611vw;
}
@media screen and (min-width: 768px) {
    button:hover {
        color: #9df3ff
    }
}
button:active{color: #23918c}
span{padding: 0 6.944444vw;}
.gray{
    color: #777;
    flex: none;
}
.red{color: #c00}
.blue{
    color: #68cdd5;
}