

    * {
        box-sizing: border-box
    }

    body {
        background-color: #68cdd5;

    }


    .row:after {
        content: "";
        clear: both;
        display: block;
    }

    .col-1 {
        width: 8.33%
    }

    .col-2 {
        width: 16.66%
    }

    .col-3 {
        width: 25%
    }

    .col-4 {
        width: 33.33%
    }

    .col-5 {
        width: 41.66%
    }

    .col-6 {
        width: 50%
    }

    .col-7 {
        width: 58.31%
    }

    .col-8 {
        width: 66.66%
    }

    .col-9 {
        width: 75%
    }

    .col-10 {
        width: 83.33%
    }

    .col-11 {
        width: 91.66%
    }

    .col-12 {
        width: 100%
    }

    [class*=col-] {
        float: left
    }
    @media screen and (min-width: 320px) and (max-width: 768px) {
    .container {
        margin: 0 10% 15.625vw;
    }

    .back {
        margin: 3.125vw auto 0 5.46875vw ;
        width: 8.4375vw;
    }

    .title {
        margin: 6.5625vw auto 0;
        text-align: center;
        width:41.40625vw ;
    }
    .p{
        margin-top:17.96875vw;
        font-size: 4.6875vw;
        font-weight: lighter;
        color: #fff;
        line-height: 1.7;
        height: 31.25vw;
    }
    .blogo {
        margin-top: 18.75vw;
    }
    .llogo{
        width:18.9vw;
    }
    .rlogo {
        width:16.5625vw;
        float: right;
    }
    img{width:inherit}

    }
    @media screen and (min-width: 768px)  {
        .container {
            margin: 0 10% 100px;
        }

        .back {
            margin: 3.125vw auto 0 35px ;
            width: 54px;
        }

        .title {
            margin: 42px auto 0;
            text-align: center;
            width:265px ;
        }
        .p{
            margin-top:115px;
            font-size: 30px;
            font-weight: lighter;
            color: #fff;
            line-height: 1.7;
            height:200px;
        }
        .blogo {
            margin-top:120px;
        }
        .llogo{
            width:121px;
        }
        .rlogo {
            width:106px;
            float: right;
        }
        img{width:inherit}

    }