.headTop{
    color: #1db176;
    padding: 5px 0;
}
.headTop .sic{
    padding: 12px 10px;
}
.headTop .sic:nth-child(1){
    background: url("./material/sprite.png") no-repeat 3px 0;
}
.headTop .sic:nth-child(2){
    background: url("./material/sprite.png") no-repeat -48px 0;
}
.headTop .sic:nth-child(3){
    background: url("./material/sprite.png") no-repeat -98px 0;
}

.headBotom{
    background-color: #1db176;
    color: #fff;
}
.headBotom .btn{
    padding: 20px;
    border-radius:0;
    border: none;
    border-bottom: 4px solid #1db176;
}
.headBotom .btn:hover{
    border-bottom-color: #fff;
    color: #fff;
}
