
.head>.row:nth-of-type(1) {
    background-color: #29bde0;
    padding: 15px 0;
    color: #fff;
}
.title{
    font-family: sans-serif;
    font-size: 28px;
}
.speak {
    /*margin-top: 60px;*/
    padding: 5px 0;
    font-family: "Adobe 黑体 Std R", sans-serif;
    color: #000;
    background-color: #d4f6f8;
    line-height: 55px;
}

.underspeak {
    border: 10px solid rgba(0, 0, 0, 0);
    border-bottom: none;
    border-top-color: #d4f6f8;
    width: 5px;
    margin-left: 8%;
}

.main {
    margin-top: 181px;
    /*background-color: #2f8399;*/
    height: auto;
}
.under{
    background-color: #2f8399;
    position: fixed;
    top:-60px;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.itemin {
    border: 5px solid #fff;
    box-shadow: 1px 1px 2px rgba(197, 191, 189, 0.9);
    text-align: center;
    padding: 0;
}
.item:hover .xsbtn{
    opacity: 1;
    /*display: block;*/
    transition: opacity 1s;
}
.xsbtn {
    /*padding-left: 6px;*/
    /*display: none;*/
    opacity: 0;
    text-align: center;
    padding-top: 85px;
}
.itemin > div:nth-of-type(1) {
    /*font-size: 18px;*/
    padding: 18% 0;
    background-color: #f5c97b;
}

.itemin > div:nth-of-type(2) {
    /*font-size: 16px;*/
    padding: 5% 0;
    background-color: #83b09a;
}

.foot {
    background-color: #29bde0;
}

.foot > div {
    padding: 10px 30%;
    margin: 10px 0;
    font-size: xx-large;
}

[class*=btn] {
    /*background;*/
    border-radius: 0;
}

.main > div > .container > .row {
    margin-top: 10px;
}

/*region 背景图标*/
.options,.options:active {
    background: url(material/sprite.png) no-repeat 13px 0;
    min-height: 41px;
    min-width: 55px;
    /*margin-left: 30px;*/
}

.head-close,.head-close:active {
    background: url(material/sprite.png) no-repeat -240px 0;
    min-height: 37px;
    min-width: 60px;
}

.play,.play:active {
    background: url(material/sprite.png) no-repeat -250px -100px;
    min-height: 53px;
    min-width: 60px;
}

.kill,.kill:active {
    background: url(material/sprite.png) no-repeat 0 -100px;
}

.search,.search:active {
    background: url(material/sprite.png) no-repeat 0 -150px;
}

.tag,.tag:active {
    background: url(material/sprite.png) no-repeat 0 -200px;
}

.cure,.cure:active {
    background: url(material/sprite.png) no-repeat 0 -250px;
}

.kill, .search, .tag, .cure {
    display: inline-block;
    height: 20px;
    border: none;
}

/*endregion*/