body {
    color: #777777;
}

.head {
    background-color: #29bde0;
    padding: 10px 0;
}
.options{
    margin-left: 15px;
}
.main{
    margin-top: 61px;
}
.items {
    border: 1px solid #d0d0d0;
    box-shadow: 1px 1px 2px rgba(197,191,189,0.9);
    /*margin: 20px 0;*/
    padding: 20px 0;
}

.items-title {
    border-bottom: 1px solid #fbb435;
    color: #fbb435;
}

.item {
    margin: 20px 0;
}

.game-mode {
    color: #fff;
    width: 80%;
    line-height: 60px;
    border-radius: 0;
    background-color: #29bde0;
    margin-bottom: 10px;
}

.arrow {
    position: absolute;
    top: 5%;
    left: 82vw;

}

.arrow2 {
    position: absolute;
    top: 44%;
    left: 85vw;
}
.arrow2>div{
    border-top: 20px solid rgba(0, 0, 0, 0);
    border-bottom: 20px solid rgba(0, 0, 0, 0);
    border-left: 20px solid #fbb435;
    border-right: 0 solid rgba(0, 0, 0, 0);
}
.cricle{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background-color: #29bde0;
    margin: 0;
}
.cricle1{
    display: inline-block;
    padding: 5px;
    border-radius: 50%;
    background-color: #d7dadb;
    margin: 0;
}


.foot{
    background-color: #29bde0;
}
.foot>div{
    padding: 10px 30%;
    margin: 5px 0;
    font-size: xx-large;
}